# ESP32-S3-BOX-3 prototype: ESP32-S3-WROOM-1-N16R8.
CONFIG_PRODUCT_BOARD_ESP_BOX_3=y
CONFIG_PRODUCT_SKU_VOICE_AGENT_KIT_BOX3=y
CONFIG_PRODUCT_HARDWARE_REVISION=1

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT=n
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_16MB_box3.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=2048
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=98304
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_MEMTEST=n
CONFIG_MBEDTLS_EXTERNAL_MEM_ALLOC=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_FREERTOS_TASK_CREATE_ALLOW_EXT_MEM=y

CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_LWIP_SNTP_MAX_SERVERS=3
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="0.14.0-dev"
CONFIG_PRODUCT_OTA_RELEASE_SEQUENCE=14
CONFIG_PRODUCT_OTA_CHANNEL="development"
CONFIG_PRODUCT_OTA_REQUIRE_AUDIO_HEALTH=y
CONFIG_HTTP_REUSE_ENABLE=n
CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=n
